// Colors
$primary: #00ff85;
$dark: #020202;
$dark-bg: #020202;
$white: #ffffff;
$text-mute: #bdbdbd;
$text-light: rgba(255, 255, 255, 0.8);
$text-white: #ffffff;

$radius: 10px;
$container-padding: 60px;
$section-padding: 80px 60px;

$font-primary: 'Inter', 'Poppins', sans-serif;
$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h3: 32px;
$font-size-body: 16px;

$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;
